aiogram==3.4.1
python-dotenv
APScheduler
pandas
openpyxl
SQLAlchemy
aiosqlite
python-dateutil
pytz
xlsxwriter
aiogram==3.4.1
python-dotenv
APScheduler
pandas
openpyxl
SQLAlchemy
aiosqlite
python-dateutil
pytz
xlsxwriter
asyncpg
python-dotenv
