# --- Asosiy Aiogram bot ---
aiogram==3.4.1
python-dotenv==1.0.1

# --- Ma'lumotlar bazasi ---
SQLAlchemy==2.0.30
asyncpg==0.29.0
psycopg2-binary==2.9.9

# --- Jadval eksport va hisobot ---
pandas==2.2.2
openpyxl==3.1.2
xlsxwriter==3.2.0

# --- Qo‘shimcha kutubxonalar ---
python-dateutil==2.9.0.post0
pytz==2024.1
APScheduler==3.10.4

# --- Render uchun xavfsiz versiyalar ---
certifi==2024.6.2
requests==2.32.3
